.filter-by {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem;
}

.filter-dropdown {
  background-color: #ffffff;
  height: 1.5rem;
  width: 10rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  .filter-dropdown {
    margin-top: 1.35rem;
    width: 5rem;
    height: 1.1rem;
    font-size: 0.7rem;
  }

  .filter-by {
    font-size: 1.1rem;
  }
}
