.focus-character-card {
  display: flex;
  flex-direction: row;
  background-color: #54212c;
  width: 85%;
  height: 75%;
  padding: 2rem;
}

.focus-card-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #a48d4f;
  width: 50%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.focus-character-image {
  border-radius: 15px;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.focus-card-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 1rem;
  background-color: #a48d4f;
}

.focus-name,
.focus-house {
  color: #ffffff;
  font-size: 1.25rem;
}

.focus-actor,
.focus-born,
.focus-ancestry,
.focus-wizard,
.focus-wand,
.focus-patronus {
  color: #ffffff;
  font-size: 1rem;
}

@media screen and (max-width: 650px) {
  .focus-character-card {
    flex-direction: column;
  }

  .focus-card-left,
  .focus-card-right {
    width: 100%;
  }
}
