.focus-character-card {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  width: 85%;
  height: 75%;
  padding: 2rem;
}

.focus-card-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
  width: 50%;
}
.focus-card-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 1rem;
  background-color: chartreuse;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.focus-character-image {
  border-radius: 15px;
  height: auto;
  max-width: auto;
  vertical-align: middle;
  align-content: center;
}
