.selected-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(71, 75, 75);
}
@media screen and (max-width: 850px) {
  .selected-character {
    background-color: transparent;
  }
}
