.characters {
  grid-area: characters;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    'character-filter'
    'character-cards';
}

.character-name {
  color: #ffffff;
}

.filter-container {
  grid-area: character-filter;
  padding: 0rem 1rem;
}

.character-filter {
  height: 2rem;
}

.character-cards {
  background: linear-gradient(180deg, #111010 0%, #2f5a60 100%);
  grid-area: character-cards;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: inherit;
}

@media screen and (max-width: 980px) {
  .character-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .character-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .character-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .character-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
