@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@600&display=swap');

.header-container {
  display: flex;
  background-color: #030e17;
}
.app-title-container {
  width: 75%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.header-logo {
  width: 150px;
  height: 75px;
}

.header {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.header .home-link {
  color: #ffffff;
  font-size: 1rem;
}
.heading-one {
  font-family: 'Hepta Slab', serif;
  color: #ffffff;
  margin: 1rem 0rem 1rem 0.5rem;
}

.heading-two {
  font-family: 'Hepta Slab', serif;
  color: #ffffff;
  margin: 1rem 0rem 1rem 0.5rem;
}
